# --- FastAPI ---
fastapi
uvicorn

# --- Environment ---
python-dotenv

# --- HTTP ---
httpx

# --- Auth / Security ---
cryptography
python-jose

# --- PostgreSQL (async) ---
psycopg[binary,pool]

# --- LangChain / LangGraph ---
langchain==0.3.27
langchain-core==0.3.74
langgraph==0.5.4
langgraph-checkpoint==2.1.2
langgraph-checkpoint-postgres==2.0.21
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.74
langsmith==0.4.13
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-groq==0.2.5
langchain-huggingface==0.1.2


# --- Documents / PDF / OCR ---
pymupdf
pillow
pytesseract

# --- Translation / YouTube ---
# deep-translator
# langdetect
youtube-transcript-api

# --- Async file handling ---
aiofiles

# --- Models ---
pydantic

#additional
pymongo
beautifulsoup4
tavily-python
pypdf

# sentence-transformers does the below thing.. just wrote it for safety
sentence-transformers==2.6.1 
# torch
# transformers
# scikit-learn
# scipy
# numpy

#####
motor
pymongo
python-multipart


