# --- FastAPI ---
fastapi
uvicorn

# --- Environment ---
python-dotenv

# --- HTTP ---
httpx

# --- Auth / Security ---
cryptography
python-jose

# --- PostgreSQL (async) ---
psycopg[binary,pool]

# --- LangChain / LangGraph ---
langgraph
langchain
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langgraph-checkpoint-postgres


# --- Documents / PDF / OCR ---
pymupdf
pillow
pytesseract

# --- Translation / YouTube ---
# deep-translator
# langdetect
youtube-transcript-api

# --- Async file handling ---
aiofiles

# --- Models ---
pydantic

#additional
pymongo
beautifulsoup4
